* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Kitsch';
    src: url('../fonts/Kitsch-Text-Extralight-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Beth Ellen';
    src: url('../fonts/BethEllen-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body {
    background: linear-gradient(to bottom, #280a50, #d3adff);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Kitsch;
    background: linear-gradient(to bottom, #280a50, #d3adff);
    line-height: 1.6;
    margin: 0;
    padding-top: 200px;
}

header {
    width: 100%;
    color: #000;
    font-family: Kitsch;
    font-size: 1.5rem;
    background-color: #280a50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 60px;
    height: 50px;
    background-image: url('../images/1-logo.png');
    background-size: cover;
    margin-left: 10px;
    margin: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #FA5252;
    text-decoration: none;
}

nav ul li p {
    color: #fff;
    text-decoration: none;
}

.loggedin {
    font-family: Arial;
    font-size: 1.2rem;
}

.user-picture {
    height: 20px;
    width: 20px;
}

section {
    text-align: center;
    color: #fff;
    width: 100%;
    font-family: Kitsch;
    font-size: 4rem;
}

section p {
    font-family: Beth Ellen;
    font-size: 2rem;
}

.scroll {
    margin-top: 80px;
    font-size: 1rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    height:720px;
    width: 90%;
    max-width: 33rem;
    padding: 10px;
    box-sizing: border-box;
    margin: 250px auto;
}

.cross, .heart {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.cross {
    width: 60px;
    height: 60px;
    margin-right: 530px;
}

.cross:hover {
    filter: brightness(80%);
}

.heart {
    width: 60px;
    height: 60px;
    margin-left: 530px;

}

.heart:hover {
    filter: brightness(80%);
}

.profile {
    text-align: center;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
    position: absolute; 
}

.stats {
    display: flex;
    justify-content: space-around;
}

#characterName {
    margin: 10px 0 5px;
    text-align: center;
    color: #555;
    font-family: 'Courier New', Courier, monospace;
}

#characterBio {
    color: #555;
    margin-top: auto;
    margin: 10px;
}

#characterAge {
    font-family: 'Courier New', Courier, monospace;
}

#characterHeight {
    font-family: 'Courier New', Courier, monospace;
}

.modal {
    height: 50%;
    opacity: 90%;

}

.modal p {
    text-align: center;
    font-size: 3.5rem;
    margin: 20px;
}

.message-box {
    width: 250px;
    border: 1px solid #888;
    display: inline-block;
    border-radius: 10px;
}

#textbox {
    margin-left: 5px;
}

#submitbutton{
    margin-left: 50px;
    background-color: #d3adff;
    border-radius: 20px;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}
