* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Kitsch';
    src: url('../fonts/Kitsch-Text-Extralight-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Beth Ellen';
    src: url('../fonts/BethEllen-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Kitsch;
    background-color: #280a50;
    line-height: 1.6;
    margin: 0;
    padding-top: 320px;
}

header {
    width: 100%;
    color: #000;
    font-family: Kitsch;
    font-size: 20px;
    background-color: #280a50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 80px;
    height: 80px;
    background-image: url('../images/1-logo.png');
    background-size: cover;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    min-height: 50vh;
    text-align: center;
    background-color: #280a50;
    color: #fff;
    width: 100%;
    font-family: Kitsch;
    font-size: 4rem;
}

section p {
    font-family: Beth Ellen;
    font-size: 2rem;
}

.scroll {
    margin-top: 80px;
    font-size: 1rem;
}

.card {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    padding: 10px;
    box-sizing: border-box;
    margin: 250px auto;
}

.cross, .heart {
    display: flex;
    align-items: center;
}
.cross img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.cross:hover img {
    filter: brightness(80%);
}

.heart img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}

.heart:hover img {
    filter: brightness(80%);
}

.profile {
    text-align: center;
    flex: 1;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.name {
    margin: 10px 0 5px;
}

.bio {
    color: #555;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}
